<div class="contentbox-list">
    {% for content_box in content_box_list %}
    <div class="contentbox">
        <div class="contentbox-header">
            <h3>{{ ez_render_field( content_box, 'name' ) }}</h3>
        </div>
        <div class="contentbox-content">
            {{ ez_render_field( content_box, 'content' ) }}
        </div>
    </div>
    {% endfor %}
</div>